@model Project_Planner.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    
}

<div id="index-row" class="row">

    <div class="col-md-12">

        <h1>Projects</h1>

        <hr />

    </div>

</div>

<div class="row">  
    <div class="col-md-12">
        <div id="toggle-box-p" class="col-md-12 new-project-box toggle-box">
            <p>Add A Project!</p>
        </div>

        <div id="toggle-box-p-child" class="col-md-12 form-box add-top-padding-20 do-not-display">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create-project-form" } )) {

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.strName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.strName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strAim, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.strAim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.strAim, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.dtmProjectedFinishedDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.dtmProjectedFinishedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.dtmProjectedFinishedDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strDetails, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.NewProject.strDetails, new {  @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.NewProject.strDetails, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input id="create-project-button" type="button" value="Create" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>Ongoing Projects</h1>
        <hr />
    </div>
</div>

<div class="row">

    <div id="ongoing-projects-container" class="col-md-6">

        <div class="col-md-12 project-boxes toggle-box show-project-task">
            <p>Project 1 <span class="project-details">Details</span></p>
        </div>
        
    </div>

    <div id="selected-items-container" class="col-md-6">

    </div>

</div>

