@model Project_Planner.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    
}

<div id="index-row" class="row">

    <div class="col-md-12">

        <h1>Projects</h1>

        <hr />

    </div>

</div>

@if (Model.Project.Count() == 0)
{
    <div class="row"><div class="col-md-6">

        <div id="add-project-box" class="col-md-12 project-boxes">

            <p>Add a Project</p>

        </div>


        <div id="testMeNow" class="col-md-12 form-box add-top-padding-20 do-not-display">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create-project-form" } )) {

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.strName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.strName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strAim, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.strAim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.strAim, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.dtmProjectedFinishedDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewProject.dtmProjectedFinishedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewProject.dtmProjectedFinishedDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewProject.strDetails, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.NewProject.strDetails, new {  @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.NewProject.strDetails, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input id="create-project-button" type="submit" value="Create" class="btn btn-primary" />
                </div>

            }

        </div>


    </div>

</div>

}
else {
    <p>Hello</p>
}
